@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  max-width: 480px;
  height: 100%;
  overflow-x: hidden;
  margin: auto;
}

body {
  background-color: #29524d;
}

a {
  color: inherit;
  text-decoration: none;
}
