.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 28px;
}

.text {
  font-weight: 300;
  font-size: 46px;
  h1 {
    font-size: 46px;
    font-weight: 700;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  button {
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.5px;
  }
}

.buttonOne {
  background-color: #05bfab;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: #019e8e;
  }
}

.buttonTwo {
  background-color: #ee8b52;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: #b3693f;
  }
}
