.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url("/bg-2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 28px;
}

.firstText {
	font-weight: 300;
	font-size: 42px;
}
.secondText {
	font-weight: 700;
	font-size: 42px;
}

.info {
	width: 100%;
	height: auto;
	background: #fef6da;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 28px 20px;

	h4 {
		font-weight: 500;
		font-size: 28px;
		margin: 16px 0;
		text-align: center;
	}
}
